@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .button-background {
        background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    }

    .button-background-h {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    }

    .button2-background {
        background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    }

    .button2-background-h {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    }

}

html, body {
    overflow-x: hidden;
}










